<%- include ("./partials/header") %>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark indigo">

    <div class="container-fluid">

        <!-- Navbar brand -->
        <ion-icon name="code-slash-outline"></ion-icon>
        <a class="navbar-brand ml-2" href="#">My Blog</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs/new">New Post</a>
                </li>
            </ul>
            <!-- Links -->

        </div>
        <!-- Collapsible content -->

    </div>

</nav>
<!--/.Navbar-->

<!-- Blog Form -->
<div class="login-clean">
    <form method="post" action="/blogs">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration d-inline-block"><i class="icon ion-ios-navigate"></i></div>
        <div class="d-inline-block ml-4">
            <h1>New Blog</h1>
        </div>
        <div class="form-group"><input class="form-control" type="text" name="blog[title]" placeholder="Title"></div>
        <div class="form-group"><input class="form-control" type="text" name="blog[image]" placeholder="Image URL">
        </div>
        <div class="form-group"><textarea class="form-control" name="blog[body]" placeholder="Blog Post"
                rows="5"></textarea></div>
        <div class="mt-4">
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>
</div>
<!--/.Blog Form -->

</main>

<%- include ("./partials/footer") %>